h1 {
    font-size:xx-large;
}

h3 {
    font-size:xx-large;
}

#input-box {
    height:25px;
    width:100px;
    margin-top:25px;
}

#button {
    height:29px;
    width:auto;
    margin-top:28px;
    
}

